/* body {
    font-family: sans-serif;
    direction: rtl;
    margin: 0;
    padding: 0;
} */

header {
    /* background-color: #f0f0f0; */
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.mainA {
    padding: 20px;
    direction: rtl;
}

.sectionA {
    margin-top: 5px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

/* img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
} */

.social-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-links li {
    display: inline-block;
    margin-left: 10px; /* Adjust margin for spacing */
}

.social-links li a {
    float: right; /* Align icons to the right */
}

#myImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
select {
    direction: rtl;
    outline: none;
    /* خصائص عامة */
    width: 150px; /* عرض عنصر select */
    height: 30px; /* ارتفاع عنصر select */
    padding: 5px; /* مسافة داخلية حول النص */
    margin: 10px 0px; /* مسافة خارجية حول عنصر select */
    border: 1px solid #ccc; /* إطار حول عنصر select */
    font-size: 16px; /* حجم الخط */
    color: #333; /* لون النص */
    background-color: #fff; /* لون الخلفية */
  
    /* خصائص المظهر */
    appearance: none; /* إخفاء مظهر المتصفح الافتراضي */
    cursor: pointer; /* تغيير المؤشر إلى يد عند التمرير فوقه */
  
    /* خصائص الخيارات */
    option {
      padding: 5px; /* مسافة داخلية حول كل خيار */
    }
  }
  body {
    font-family: Arial, sans-serif; /* خط افتراضي للصفحة */
}

h1 {
    font-family: 'Times New Roman', serif; /* خط مخصص للعنوان */
}

p {
    font-family: Verdana, sans-serif; /* خط مخصص للفقرة */
}
.photo{
    display: flex;
    margin-top: 20px;
}
/* .photo div{
    margin-right: 20px;
} */
.photo div:nth-child(2){
    margin-right: 20px;
}